<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>테스트 주문페이지</title>
    <script src="https://js.tosspayments.com/v1"></script>
    <script>
        // Toss객체 초기화
        // 테스트 키 값 -> 추가 계약 후 api 받아 올 수 있음
        // 추가 할려면 토스페이먼츠 고객센터(1544-7772, support@tosspayments.com)으로 문의
        var clientKey = 'test_ck_OAQ92ymxN34Z915opBPrajRKXvdk';
        var tossPayments = TossPayments(clientKey);

        //결제창 호출
        // 추후에 디비가 연동되면 -> flask expose로 유저, 물건, 금액 등 입력받는 식으로 변경
        // 현재는 디비에 연동되있지않아서 임시 고정값으로 대체
        tossPayments.requestPayment('계좌이체', {
            amount: 15000,
            orderId: parseInt(Math.random()*1000000),
            orderName: '토스 티셔츠 외 2건',
            customerName: '박토스',
            successUrl: window.location.origin + '/success',
            failUrl: window.location.origin + '/fail',
        });
    </script>

</head>
</html>